.icon-button.icon-button__edit {
  background-color: var(--clr-primary-100);
}

.icon-button.icon-button__delete {
  background-color: var(--clr-accent-red-100);
}

.icon-button {
  display: grid;
  place-content: center;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  cursor: pointer;
}
