:root {
  --clr-white: #ffffff;

  --clr-primary-100: #ebf5ff;
  --clr-primary-200: #aad2f5;
  --clr-primary-300: #5fa0d7;
  --clr-primary-400: #2d82c8;
  --clr-primary-500: #2364a0;
  --clr-primary-600: #19466e;
  --clr-primary-700: #1e3c50;

  --clr-grey-100: #f5f5fa;
  --clr-grey-200: #e1e6eb;
  --clr-grey-300: #cdd2dc;
  --clr-grey-400: #b4c3cd;
  --clr-grey-500: #8791a5;
  --clr-grey-600: #5f6978;
  --clr-grey-700: #1e2832;

  --clr-accent-green-100: #e6fffa;
  --clr-accent-green-200: #a5ebeb;
  --clr-accent-green-300: #6ed7d2;
  --clr-accent-green-400: #3caaa0;
  --clr-accent-green-500: #289187;
  --clr-accent-green-600: #19645a;
  --clr-accent-green-700: #0f4141;

  --clr-accent-yellow-100: #fffaf0;
  --clr-accent-yellow-200: #faf0d7;
  --clr-accent-yellow-300: #fae19b;
  --clr-accent-yellow-400: #f0c864;
  --clr-accent-yellow-500: #c8a53c;
  --clr-accent-yellow-600: #8c691e;
  --clr-accent-yellow-700: #5a460f;

  --clr-accent-red-100: #fae6e6;
  --clr-accent-red-200: #f5aaaa;
  --clr-accent-red-300: #e16464;
  --clr-accent-red-400: #dc2d2d;
  --clr-accent-red-500: #b41e1e;
  --clr-accent-red-600: #871919;
  --clr-accent-red-700: #871919;

  /*Font scale: 1 -> 10px, 2 -> 12px, 3 -> 14px, 4 -> 16px, 5 -> 18px, 6 -> 20px, 7 -> 24px, 
  8-> 30px, 9 -> 36px*/
  --font-sz-100: 0.625rem;
  --font-sz-200: 0.75rem;
  --font-sz-300: 0.875rem;
  --font-sz-400: 1rem;
  --font-sz-500: 1.125rem;
  --font-sz-600: 1.25rem;
  --font-sz-700: 1.5rem;
  --font-sz-800: 1.875rem;
  --font-sz-900: 2.25rem;

  /*Spacing scale: 1-> 8px, 2-> 12px, 3-> 16px, 4-> 24px, 5-> 32px, 6-> 48px, 7-> 64px*/
  --spacing-100: 0.5rem;
  --spacing-200: 0.75rem;
  --spacing-300: 1rem;
  --spacing-400: 1.5rem;
  --spacing-500: 2rem;
  --spacing-600: 3rem;
  --spacing-700: 4rem;

  --box-shadow-100: 0 4px 6px hsla(0, 0%, 0%, 0.2);
  --box-shadow-200: 0 5px 15px hsla(0, 0%, 0%, 0.2);
  --box-shadow-300: 0 10px 24px hsla(0, 0%, 0%, 0.2);
  --box-shadow-400: 0 15px 34px hsla(0, 0%, 0%, 0.2);

  --border-radius: 4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-grey-100);
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Default Styles */
input,
select,
textarea {
  font-family: inherit;
}

input {
  font-size: var(--font-sz-400);
  border: 1px solid var(--clr-grey-400);
  border-radius: var(--border-radius);
  padding: var(--spacing-100) var(--spacing-200);
  width: 100%;
}

select {
  border: none;
  padding: var(--spacing-100) var(--spacing-200);
  width: 100%;
  min-width: 13rem;
  border: 1px solid var(--clr-grey-400);
  font-size: var(--font-sz-400);
  border-radius: var(--border-radius);
  background-color: var(--clr-white);
}

textarea {
  width: 100%;
  min-height: 8rem;
  resize: none;
  border-radius: var(--border-radius);
  border: 1px solid var(--clr-grey-400);
  padding: var(--spacing-100) var(--spacing-200);
}

button {
  font-family: inherit;
  border: none;
  background: none;
}
